@font-face {
    font-family: 'Sans';
    src: url("../assets/fonts/w-95-sans-serif.woff2");
}
.body {
    font-family: "Sans";
    margin: 0px; 
    padding: 0px;
    background-image: url("../assets/img/Moon Flower.jpg");
    animation-name: boxAnimation; 
    animation-timing-function: steps(128, end);
    animation-duration: 64s; 
    animation-iteration-count: infinite;

}

.Title {
    text-align: center;
    color: hsl(0, 0%, 0%); 
    margin: 20px; 
    padding: 1%;
    text-shadow: 1px 1px 1px rgb(93, 93, 93);
}

.main-box {
    height: 75vh;
    background-image: url("../assets/img/Bliss.jpg");
    background-size: 100% 100%; 
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: aqua;
    color: white; 
    border: 3px black solid;     
    /* display: flex;
    flex-direction: column-reverse; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "main-box-title main-box-title main-box-title"
    "desktop desktop desktop"
    "desktop desktop desktop"
    "desktop desktop desktop"
    "navbar navbar navbar";
    justify-content: center;
}

.btmNavBar {
    grid-area: navbar;
}

.desktop {
    padding: 2px;
    grid-area: desktop;
    display: grid;
    grid-template-rows: 8em 8em 8em;
    grid-template-areas:
    ".    page-link-1    ."
    ".        .          ."
    ".        .          .";
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: top;
}

.main-box-title {
    grid-area: main-box-title;
    text-align: right;
    color: black;
    font-size: 1em;
    text-shadow: 1px 1px 1px white;
}

.page-link-1 {
    grid-area: page-link-1;
    text-decoration: none;
    color: black;
}


@keyframes boxAnimation {
    0% {
        background-position-x: 0%; 
    }
    100% {
        background-position-x: 400%;
    }
}

