@font-face {
    font-family: 'Sans';
    src: url("../assets/fonts/w-95-sans-serif.woff2");
}

.body {
    margin: 0px; 
    background-image: url("../assets/img/Moon Flower.jpg");
    padding: 0px;
    
    animation-name: boxAnimation; 
    animation-timing-function: steps(128, end);
    animation-duration: 64s; 
    animation-iteration-count: infinite;
    font-family: "Sans";
}

@keyframes boxAnimation {
    0% {
        background-position-x: 0%; 
    }
    100% {
        background-position-x: 400%;
    }
}

.Title {
    margin: 20px; 
    padding: 1%;
    color: hsl(0, 0%, 0%); 
    text-align: center;
    font-size: 175%; 
    text-shadow: 1px 1px 1px rgb(93, 93, 93);
}
/* ------------------ main box styling ------------------ */
.main-box {
    margin-left: 10%; 
    margin-right: 10%;
    border: 3px black solid; 
    background-image: url("../assets/img/Bliss.jpg");
    background-size: 100% 100%; 
    background-color: aqua;
    height: 80vh;
    color: white; 
    overflow: hidden; 
        
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "main-box-title main-box-title main-box-title"
    "desktop desktop desktop"
    "desktop desktop desktop"
    "desktop desktop desktop"
    "navbar navbar navbar";  
}

.main-box-title {
    grid-area: main-box-title;
    text-align: center;
    color: black;
    font-size: 1em;
    text-shadow: 1px 1px 1px white;
}

.desktop {
    grid-area: desktop;
    margin: 0px; 
    overflow: hidden; 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
    ".    page-link-1    .                            ."
    ".        .                    page-link-2       ."
    "page-link-3        page-link-4          page-link-4              page-link-4";
    justify-items: center;
    align-items: top;
}

@media(max-width: 800px) {
    .desktop {
        grid-template-columns: 150px 150px 150px;
        grid-template-areas:
        ".                  page-link-1    ."
        ".                  .               page-link-2"
        "page-link-3        page-link-4      .";
        justify-items: center;
        align-items: top;
    }
    .main-box {
        margin-left: 5%;
        margin-right: 5%;
    }
    .page-link-4 {
        translate: 0% -120%;
    }
}


@media(max-width: 600px) {
    .desktop {
        grid-template-columns: 100px;
        grid-template-areas:
        "page-link-1 ."
        ". page-link-2"
        "page-link-3 page-link-4";
    }
    .page-link {
        translate: 0% -50%;
    }
    .page-link-4 {
        translate: 0% -40%;
    }
    .page-link-2 {
        width: 50%;
    }
    .page-link-1 {
        translate: 100% 0%;
    }
}
.page-link-4 {
    grid-area: page-link-4; 
    height: 50%; 
    width: 50%; 
    max-width: 140px; 
}

.page-link-3 {
    grid-area: page-link-3;
    translate: 0% -120%;
    height: 35%; 
    width: 65%; 
    max-width: 130px;
}

.page-link-2 {
    grid-area: page-link-2;
}

.page-link-1 {
    grid-area: page-link-1;
    height: 65%; 
    width: 65%; 
}

.page-link {
    text-decoration: none;
    color: black;
}

.btmNavBar {
    grid-area: navbar;
}