@font-face {
    font-family: 'Sans';
    src: url("../assets/fonts/w-95-sans-serif.woff2");
}
.body {
    font-family: "Sans";
    margin: 0px; 
    padding: 0px;
    background-image: url("../assets/img/Moon Flower.jpg");
    animation-name: boxAnimation; 
    animation-timing-function: steps(128, end);
    animation-duration: 64s; 
    animation-iteration-count: infinite;
}

.Title {
    text-align: center;
    color: black; 
    margin: 20px; 
    padding: 1%;
    text-shadow: 1px 1px 1px black;
}

.main-shirt-box {
    height: 75vh;
    background-image: url("../assets/img/Bliss.jpg");
    background-size: 100% 100%; 
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: aqua;
    color: white; 
    border: 3px black solid; 
    display: flex; 
    flex-direction: column;
    text-align: center; 
    color: black; 
    
}

.shirt-card {
    border-right: 1vb black solid; 
    border-left: 1vb black solid; 
    border-bottom: 1vb white solid; 
    border-top: 1vb white solid; 
    background-color: rgb(156, 156, 156);
    text-shadow: 1px 1px 1px white;
}

.shirt-card h1{
    background-color: hsl(309, 100%, 73%);
    padding: 1vb;
    border-bottom: 1vb black solid; 
    border-top: 1vb black solid;
    margin: 0;
}

.shirt-picture-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
}

.main-box-title {
    padding-left: 18%;
    padding-right: 18%;
    text-align: center;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}

.page-link {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}


@keyframes boxAnimation {
    0% {
        background-position-x: 0%; 
    }
    100% {
        background-position-x: 400%;
    }
}

