@font-face {
    font-family: 'Sans';
    src: url("../assets/fonts/w-95-sans-serif.woff2");
}
.shirtpage-body {
    font-family: "Sans";
    margin: 0px; 
    padding: 0px;
    background-image: url("../assets/img/Moon Flower.jpg");
    animation-name: shirtAnimation; 
    animation-timing-function: steps(128, end);
    animation-duration: 64s; 
    animation-iteration-count: infinite;
}

.shirtpage-Title {
    text-align: center;
    color: white; 
    margin: 20px; 
    padding: 1%;
    text-shadow: 1px 1px 1px red;
}

.main-shirt-box {
    height: 75vh;
    font-size: 0.5em;
    background-image: url("../assets/img/Bliss.jpg");
    background-size: 100% 100%; 
    margin-left: 10%; 
    margin-right: 10%; 
    background-color: aqua;
    color: white; 
    border: 3px black solid; 
    text-align: center; 
    color: black; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas: 
    "shirt-card" "navbar";
    
}

.shirt-card {
    grid-area: shirt-card;
    border-right: 3px black solid; 
    border-left: 3px black solid; 
    border-bottom: 3px white solid; 
    border-top: 3px white solid; 
    background-color: rgb(156, 156, 156);
    text-shadow: 1px 1px 1px white;
}

.btmNavBar {
    grid-area: navbar;
}

.shirt-card h1{
    background-color: hsl(309, 100%, 73%);
    padding: 2%;
    border-bottom: 3px black solid; 
    border-top: 3px black solid;
    margin: 0;
}

.shirt-picture-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: none;
}

.shirt-dropdown {
    display: flex; 
    flex-direction: row;
    text-align: center;
    position: relative; 
    left: 26%;
    padding: 2%;
}

.shirt-dropdown select{
    font-family: 'Sans';
    text-align: center;
    padding: 0%;
    margin-left: 2%;
    appearance: none; 
    width: 20%; 
    font-size: 1rem;
    background-color: hsl(186, 75%, 68%);
}

.shirt-dropdown select::picker-icon {
    color: rgb(108, 108, 252);
}

@keyframes shirtAnimation {
    0% {
        background-position-x: 0%; 
    }
    100% {
        background-position-x: 400%;
    }
}

