@font-face {
    font-family: 'Sans';
    src: url("assets/fonts/w-95-sans-serif.woff2");
    
}
.btmNavBar {
    background-color: rgb(174, 174, 174);
    text-align: center;
    padding: 2%;
    border-bottom: black;
    border-top: white; 
    border-top-width: 2px; 
    border-right: #000;
    border-left: #000;
    border-style: solid;
    display: flex; 
    flex-direction: row;
    align-items: center;
    max-height: 10vh;
    /* max-height: 2%; */
 
}
@media(min-width:56em) {
    .btmNavBar {
        height: 4vh;
    }
}

.btmNavBar:hover {
    border-top-width: 4px; 
}